    strong {
      font-weight: bold !important;
    }
    i {
      font-style: italic;
    }

    [type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::after {
        background-color: #ab47bc  !important;
    }
    [type="radio"]:checked + label::after, [type="radio"].with-gap:checked + label::before, [type="radio"].with-gap:checked + label::after {
        border: 2px solid #ab47bc  !important;
    }
    /* label focus color */
    input[type="radio"]:focus + label {
      color: #ab47bc  !important;
    }
    /* label focus color */
    .input-field input[type=text]:focus + label {
      color: #ab47bc  !important;
    }
    .input-field input[type=password]:focus + label {
      color: #ab47bc  !important;
    }
    .input-field input[type=number]:focus + label {
      color: #ab47bc  !important;
    }
    /* label focus color */
    .input-field #email:focus + label {
      color: #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field input[type=password]:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field input[type=number]:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field #email:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }
    /* label focus color */
    .input-field textarea:focus + label {
      color: #ab47bc  !important;
    }
    /* label underline focus color */
    .input-field textarea:focus {
      border-bottom: 1px solid #ab47bc  !important;
      box-shadow: 0 1px 0 0 #ab47bc  !important;
    }

    .prefix {
      color: #ab47bc  !important;
    }

    /*Index Section*/
    #ql-editor strong{
       font-weight:bold;
    }
    #ql-editor {
      overflow-y: unset;
      overflow-x: unset;
      height: 300px;
    }
    .slides h3,.clients {
      text-shadow: 1px 1px 3px rgba(0,0,0,.5);
      letter-spacing: 3px;
    }
    .parallax-container {
      height: 20%;
    }

    .parallax img {
      filter: grayscale(1);
      filter: opacity(.8);
    }
    .clients img {
      filter: drop-shadow(1px 1px 1px rgba(0,0,0,.8));
      width: 80%;
      height: 170px;
    }
    section {
      padding: 20px 0;
    }
    .navbar-fixed{
      z-index: 999;
      font-weight: bold;
      /*opacity: .9;*/
    }
    .logo {
      height: 30px;
      width: 30%;
      position: relative;
      top: 5px;
      margin-right: 6px;
      font-weight: bold;
    }
    .brand-logo{
      font-size: 24px;
      font-weight: bold;
    }
    .card-image {
      height: 100%;
    }
    .card-image img {
      height: 100%;
    }
    .horizontal {
      height: 280px;
    }
    .map {
      width: 100%;
    }
    .bold {
      font-weight: bold;
      /*margin: 30px;*/
    }
    ul.right li a:hover{
      transition: .3s;
      color: #ffffff;
    }
    ul.right {
      opacity: .9;
    }
    h3 {
      padding-bottom: 5px;
    }
    h4 {
      padding-bottom: 5px;
    }
    .about {
      padding: 0;
    }
    .parallax-container {
      height: 640px;
    }
    .parallax-container h3{
      margin-top: 70px;
    }
    .modal-content p {
      margin: 0;
      margin-bottom: 3px;
    }

    /*Admin Section*/
    .kontainer {
      padding: 0 30px;
    }
    .kontainer li {
      padding: 0 30px;
    }
    .footer-admin {
      margin-bottom: 0;
      padding: 10px 0px;
      font-size: 14px;
    }
    .salam {
      margin-right: 385px;
    }
    li.title{
      padding: 15px 0;
      box-shadow: 1px 0px 6px 1px rgba(0,0,0,.4);
    }
    @media only screen and (min-width: 600px) {
      li.title{
        padding: 18px 0;
      }
      .kontainer-navbar {
        padding: 0 60px !important;
      }
    }
    img.logo-side{
      height: 35px;
      width: 35px;
      display: inline;
      position: absolute;
      margin-left: 45px;
      top: 12px;
    }
    .menu {
      z-index: 1000;
    }
    .active-list:hover{
      transition: .3s;
      border-left: 3px solid #ffffff !important;
    }
    .content {
      padding: 40px 0;
    }
    hr {
      border: 1px solid #7b1fa2 ;
    }
    .divider {
      margin: 0 !important;
      /*Blue Grey darken 3*/
      background-color: #37474f;
    }
    .modal-news {
      transition: .6s;
      transform: scale(0);
      top: 4%;
    }
    .ubah-parallax {
      position: relative;
      top: -100px;
      right: 50px;
    }
    .pic a i{
      /*margin: -10px 0;*/
      font-size: 18px;
    }
    .add {
      height: 150px;
      background-color: #eeeeee;
      width: 100%;
      line-height: 150px;
      color: #9e9e9e;
    }
    .add:hover{
      background-color: #eeeeee;
      box-shadow: 3px 4px 6px rgba(0,0,0,.3);
    }
    #modal-gallery{
      top: 35% !important;
    }
    .del-gal {
      position: relative;
      bottom: 45px;
      left: 78%;
      opacity: 0;
      margin: -10px 0;
    }
    .pic:hover .del-gal {
      opacity: 1;
    }
    .gal-padd{
      margin: 10px 0;
    }

    b.price {
      font-size: 40px;
    }
    b.disc_label {
      font-size: 28px;
    }
    b.disc {
      font-size: 70px;
    }
    b.price {
      font-size: 24px;
    }
    b.disc-price {
      font-size: 40px;
    }
    a.more {
      margin-top: 10px;
    }

    @media only screen and (max-width: 600px) {
      .del-gal {
        opacity: .9;
      }
      h1.promo {
        font-size: 35px;
        font-weight: bold;
      }
      h4.info {
        font-size: 25px;
      }
      b.price {
        font-size: 25px;
      }
      b.disc-price {
        font-size: 30px;
      }
      b.disc {
        font-size: 38px;
      }
      b.text-cont {
        font-size: 21px;
      }
      .news-panel {
        height: 190px;
      }
      .logo {
        height: 30px;
        width: 248px;
        margin-left: 40px;
      }
    }

    /* Bagian Admin*/

    .login-img {
      background-image: url('assets2/img/slider/4.jpg');
      height: 770px;
      background-size: cover;
    }

    .img-gal {
      height: 150px !important;
      overflow: hidden !important;
      width: 100% !important;
    }

    .kontainer-carousel {
      padding: 0 75px;
    }

    .hpkg {
      margin-top: -20px;
      margin-bottom: 20px;
    }

    /*Form login section*/

    .html, .body {
    	height: 100%;
    }

    .container-login {
    	min-height: 100%;
    	position: relative;
    	padding-bottom: 100px;
    }
    .footer {
    	position: fixed;
    	bottom: 0;
    	z-index: 1;
    }
    .footer1 {
    	position: fixed;
    	bottom: 0;
    	z-index: 999;
    	width: 100%;
    }

    .preloader {
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	z-index: 9999;
    	background-color: #fff;
    }
    .preloader .loading {
    	position: absolute;
    	left: 50%;
    	right: 50%;
    	top: 50%;
    	width: 30%;
    	transform: translate(-50%, -50%);
    	font-size: 30px;
    }

    /* Cargo Punya */
    .kontainer-contact {
      padding: 0 90px;
    }
    a.btn-slider:hover{
      background-color: #424242 !important;
    }
    .sosmed {
      padding-left: 210px !important;
    }
    .sosmed a i{
      font-size: 25px;
      color: #fafafa;
      padding-right: 12px;
      text-align: right;
    }
    .sos-foot {
      margin-top: 5%;
    }
    .sosmed-footer li a i{
      font-size: 40px;
      color: #fafafa;
      padding-right: 12px;
      text-align: right;
    }
    .sosmed-footer li a i:hover{
      transition: .3s;
      color: #424242;
    }
    .amplop {
      font-size: 23px;
    }
    .sosmed a i:hover{
      transition: .3s;
      color: #424242;
    }
    .tab a b{
      font-size: 17px;
    }